*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #fcead2, #deeefe);
    font-size: 16px;
}

a{
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    background-color: #172a37;
    color: #f2f2f2;
    padding: 1.25rem 1.375rem;
    font-weight: 300;
    
}

nav, 
nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    gap:50px;
    color: white;
}


nav a{
    color: #f2f2f2;
}

 .branding{
    display:flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

 .brand-image{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: white;
}

 .resume-btn{
    background-color: #172a37;
    border-radius: 0.5rem;
    border: 1px #F37021 outset;
    padding: 0.5rem 1rem;
    color: white;
}

.resume-btn:hover{
    cursor:pointer;
    border: 1px #f37021 inset;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172a37;
    padding: 6rem 3.625rem;
    color:aliceblue;
    width: 100%;
}

.hero .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.125rem;
    width: 50%;
    color:white !important;
}

.hero .details h1{
    font-size: 2.81rem;
}

.hero .details h3{
    font-size: 1.5rem
}

.hero span{
    color:#F37021
}

.hero .description{
    font-weight: 300;
    font-size: 1.3rem;
    color : #f2f2f2;
}

.hero .user-img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: #c4c4c4;
}

#skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:4.375rem 5rem;
    gap: 1.25rem;
    color: #f4bf9f;
}

.skill-container{
    background-color: white;
    width:79.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding: 2.37rem 3rem;
    border-radius: 0.43rem;
    box-shadow: 1px 1px 3px rgb(128, 125, 125);;
}

.title{
    font-size: 2.5rem;
    color: black;
}

.description{
    font-size: 1.75rem;
    font-weight: 400;
    color: #1F1F1F;
}

.skill{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 0.625rem;
    border: 2px #f37021 solid;
    border-radius: 0.437rem;
}

.skill-icon{
    width: 1.87rem;
    height: 1.87rem
}

.skill-name{
    font-size: 1.125rem;
    font-weight: 300;
    color: #172a37;
}

.title span{
    color: #f37021
}

.progress-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.375rem 5rem;
    gap: 1.25rem;
    text-align: center;
}

.progress-container .linkedin-btn{
    padding: 0.75rem;
    background-color: #f37021;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.437rem;
    font-weight: 500;
    color:white;
}

.progress-container .frame-container{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5625rem;
    height: 26rem;
    text-align:left ;
}

.frame-container .card {
    /* max-height: 34rem; */
    width: 40rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.videoPlaceholder {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #F37021;
    width: 100%;
    height: 14.375rem;
    text-align: center;
} 

.card .info {
    padding: 1.25rem;
    background-color: #ffffff;
}

.card .info h3{
    font-size: 1rem;
    font-weight: 400;
}

.card .info h2{
    font-weight: 600;
}

#projects {
    text-align: center;
    padding: 3.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.project-card {
    background: white;
    width: 25.3rem;
    height: 32.18rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 15.6rem;
    aspect-ratio: 1;
}

.project-details{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}


.project-details a{
    font-size: 1.56rem;
    font-weight: 700;
    color: #FF8153;
    text-decoration: none;
}

.project-details h3{
    font-size: 1.125rem;
    font-weight: 500;
}

.project-details p{
      font-size: 1rem;
}

#education {
    text-align: center;
    padding: 3.75rem 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.education-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.education-card {
    background: white;
    width: 38.31rem;
    height: 11rem;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.education-details h2{
    font-size: 1.56rem;
    font-weight: 700;
}

.education-details h3{
    color: #F37021;
    font-size: 22px;
    font-weight: 400; 
}
.education-card .education-img{
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    border: 1px solid rgb(204, 199, 199);
}

 #contact{
    text-align: center;
    padding: 3.75rem 1.25rem;
    background: #172a37;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

 #contact h2{
    color: #F37021;
}

#contact p{
    color: white;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 1.25rem;
    /* width: 45.375rem; */
    height: 4.125rem;
}

.contact-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-size: 1.375rem;
    border: 1px solid #F37021;
    background: transparent;
    gap: 10px;
}

.contact-btn a{
    color: white;
}

@media (max-width: 926px){
    nav .nav-links{
        gap: 0.9rem;
    }

    .hero{
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.125rem 1.5rem;
    }

    .hero .details{
        width:100%;
    }

    .projects-container {
        flex-direction: column;
    }

    .frame-container{
        flex-direction: column;
    }
    .skill-container {
        width: 100%;
        gap: 0.625rem;
    }

    .frame-container{
        flex-direction: column;
    }

}

@media (max-width: 650px){
    .contact-container{
        flex-direction: column !important;
    }
}

@media (max-width: 350px){
    .nav-links{
        display: none;
    }

    .project-card{
        width: 20rem;
    }
    .contact-container{
        flex-direction: column !important;
    }
}


